@import '../../../styles/variables.css';

.app {
  transition: all 0.5s var(--transition-style);
  display: grid;
  height: 100%;
  grid-template-columns: 6vw 1fr 6vw;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 'side-l content side-r';
  will-change: transform;

  @media (--tablet) {
    grid-template-columns: 10vw 1fr 10vw;
  }

  &.isProjectPage {
    grid-template-columns: 6vw 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 'side-l content';

    @media (--tablet) {
      grid-template-columns: 10vw 1fr;
    }

    @media (--mobile) {
      display: flex;
      position: relative;
    }
  }

  &.navOpen {
    /* 2px is the width of vertical line */
    transform: translateX(calc(44vw + 2px));

    @media (--mobile) {
      transform: translateX(calc(88vw + 2px));
    }
  }
}

.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: #191919;
}

.menu {
  /* needed +1px because of a 1px gap between page and menu, visible on dark mode */
  width: calc(44vw + 4px);
  transform: translateX(calc(-44vw - 3px));
  padding: 1.5vw 0;

  @media (--mobile) {
    width: calc(88vw + 4px);
    position: absolute;
    height: 100%;
    top: 0;
    left: -44vw;
  }
}

.projectList {
  list-style: none;
}

.item {
  display: block;
  text-transform: uppercase;
  font-size: 3vw;
  line-height: 1.4;
  color: inherit;
  margin-bottom: 0.2vw;

  @media (--tablet) {
    font-size: 4.5vw;
    margin-bottom: 0.5vw;
  }

  @media (--mobile) {
    font-size: 8.5vw;
    margin-bottom: 0.5vw;
  }
}

.page {
  grid-area: content;
}

:global(body.user-is-tabbing *:focus) {
  outline: 2px solid #7aacfe !important; /* for non-webkit browsers */
  outline: 5px auto -webkit-focus-ring-color !important;
}

*:focus {
  outline: 0;
}
