.sidebar {
  width: 4vw;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1vw 0;
}

.list {
  margin: 0;
}

.listItem {
  list-style: none;
  opacity: 0;
  transform: translateX(10px);
  filter: blur(1px);
  animation: reveal 0.5s ease-in forwards;
  margin-bottom: 0.5vw;

  &:nth-child(4) {
    animation-delay: 4s;
  }

  &:nth-child(3) {
    animation-delay: 4.2s;
  }

  &:nth-child(2) {
    animation-delay: 4.4s;
  }

  &:nth-child(1) {
    animation-delay: 4.6s;
  }
}

.logo {
  width: 1vw;
  transition: all 3s;

  &.light {
    fill: black;
  }
  &.dark {
    fill: white;
  }
}

@keyframes reveal {
  to {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}
