.section {
  display: flex;
  margin-bottom: 20vw;
  transition: opacity 0.1s ease-in;

  &.inverted {
    flex-direction: row-reverse;
  }
}

.screenshot {
  width: 50%;
  padding: 4vw;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  text-align: left;
}

.logo {
  width: 70%;
  margin-bottom: 3vw;
  transition: all 0.1s ease-in;
}

.text {
  padding-left: 4vw;
}

.link {
  padding-left: 4vw;
  font-size: 1.5vw;
  color: inherit;
  margin-bottom: 0.5vw;
}
