.main {
  display: flex;
}

.project {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  animation: revealName 1.5s ease-in;
}

.screenshot {
  width: 100%;
}

@keyframes revealName {
  from {
    filter: blur(1px);
    opacity: 0;
    transform: translateX(10px);
  }
  50% {
    filter: blur(0);
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}
