.backgroundWrapper {
  position: fixed;
  height: 100vh;
  width: 40vw;
  right: 0;
  z-index: 1;
  transition: transform 0.2s ease-in;

  &.isProjectPage {
    position: static;
    width: 44vw;
  }

  &.focused {
    z-index: 2;
  }
}

.logo {
  width: 27vw;
  height: auto;
  padding-top: 7vw;
  margin-bottom: 3vw;
  flex-shrink: 0;

  &.styleVolkswagen {
    width: 18vw;
    padding-top: 2vw;
    margin-bottom: 0;
  }

  &.styleOTTO,
  &.styleXing {
    color: white;
  }
}

.list {
  width: 27vw;
  list-style: none;
  padding: 0;
  margin: 0 5vw 0;
  text-align: right;
}

.label {
  font-size: 1.3vw;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 900;

  &.styleXing {
    color: #013801;
  }
  &.styleOTTO {
    color: #5f0306;
  }
  &.styleZalando {
    color: #be4b09;
  }
  &.styleVolkswagen {
    color: #1b2c5d;
  }
}

.value {
  color: white;
  font-size: 1.4vw;
  line-height: 1.4;
  margin-bottom: 0.7vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: blur(3px);

  &.styleAboutYou {
    background-image: radial-gradient(circle at top, white, black 95%, black);
  }

  &.styleXing {
    background-image: radial-gradient(
      circle at top,
      #00d296,
      #199980 50%,
      #007575
    );
  }

  &.styleOTTO {
    background-image: radial-gradient(
      circle at top,
      #f76e72 10%,
      #f5343b 30%,
      #db1f26 60%,
      #a10b10
    );
  }

  &.styleZalando {
    background-image: radial-gradient(
      circle at top,
      #fbc195,
      #f57d34 50%,
      #f47026
    );
  }

  &.styleSinnerSchrader {
    background-image: radial-gradient(
      circle at top,
      #5303d0,
      #6804c1 30%,
      #7a03b4 60%,
      #8703aa
    );
  }

  &.styleVolkswagen {
    background-image: radial-gradient(
      circle at top,
      #00c1f3,
      #6c9ad1 30%,
      #3978bd 50%,
      #0b4482 70%,
      #324277 90%,
      #1b2c5d
    );
  }

  &.hide {
    animation: hideBackground 0.3s ease-out forwards;
  }

  &.show {
    animation: revealBackground 1s ease-out forwards;
  }
}

.backgroundLine {
  height: 100%;
  width: 2px;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  transition: transform 0.3s ease-in;
  transform: translateY(100%);

  &.styleOTTO {
    background-image: linear-gradient(to bottom, #f76e72, #db1f26 50%, #db1f26);
  }
  &.styleXing {
    background-image: linear-gradient(to bottom, #00d296, #199980 50%, #007575);
  }
  &.styleZalando {
    background-image: linear-gradient(to bottom, #fbc195, #f57d34 50%, #f47026);
  }
  &.styleVolkswagen {
    background-image: linear-gradient(
      to bottom,
      #00c1f3,
      #6c9ad1 20%,
      #3978bd 40%,
      #0b4482 60%,
      #324277 80%,
      #1b2c5d
    );
  }
  &.styleSinnerSchrader {
    background-image: linear-gradient(
      to bottom,
      #5303d0,
      #6804c1 30%,
      #7a03b4 60%,
      #8703aa
    );
  }
  &.show {
    transform: translateY(0);
  }
  &.isProjectPage {
    right: 44vw;
    left: auto;
    visibility: hidden;
  }
}

@keyframes revealBackground {
  from {
    transform: translateX(10px);
    opacity: 0;
    filter: blur(3px);
  }
  50% {
    transform: translateX(10px);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes hideBackground {
  from {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
  50% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
    filter: blur(3px);
  }
}
