@import '../styles/variables.css';

.row {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s;
  transition: opacity 1s;
  height: 100%;
  align-items: center;
  opacity: 1;

  &.blur {
    & .hi,
    & .clientText,
    & .clientBtn:not(.focused),
    & .experience,
    & .name {
      animation: blur 0.5s ease-in forwards;

      @media (--tablet) {
        animation: none;
      }
    }
  }

  &.hide {
    & .hi,
    & .clientText,
    & .clientBtn,
    & .experience,
    & .intro,
    & .name {
      transition: all 0.5s !important;
      filter: blur(10px) !important;
      opacity: 0 !important;
    }
  }

  &.unblur {
    & .hi,
    & .clientText,
    & .clientBtn:not(.focused),
    & .experience,
    & .name {
      transform: translateX(10px);
      opacity: 0;
      filter: blur(3px);
      animation: unblur 0.5s ease-in forwards;
    }
  }

  &.dark .hi {
    color: var(--white);
  }
}

.main {
  text-align: left;
  font-family: inherit;
  transition: all 0.5s;
  font-weight: normal;
  will-change: transform;
  color: var(--grey);
  font-size: 1.7vw;

  @media (--tablet) {
    font-size: 3vw;
  }

  @media (--mobile) {
    font-size: 4vw;
    padding: 0 15vw;
  }
}

.intro {
  font-family: inherit;
  width: 60%;
  line-height: 1.2;
  color: inherit;
  font-size: inherit;
  margin-bottom: 1vw;

  @media (--tablet) {
    margin-bottom: 2vw;
    width: 100%;
  }

  @media (--mobile) {
    margin-bottom: 3vw;
  }
}

.hi {
  font-weight: normal;
  font-size: inherit;
  color: inherit;
  display: block;
  margin-bottom: 1.5vw;
  animation: revealName 1.5s ease-in;
}

.name {
  color: var(--orange);
  font-weight: normal;
  display: block;
  font-size: 3.6vw;
  animation: revealName 2.5s ease-in;

  @media (--tablet) {
    font-size: 4.5vw;
  }

  @media (--mobile) {
    font-size: 7vw;
  }

  &.dark {
    color: var(--petrol);
  }
}

.clients,
.experience {
  width: 60%;
  text-align: left;
  color: var(--grey-dark);
  font-weight: normal;
  font-family: inherit;
  line-height: 1.4;
  font-size: inherit;
  animation: revealName 3s ease-in;
  margin-bottom: 2vw;

  @media (--tablet) {
    margin-bottom: 3vw;
    width: 100%;
  }

  @media (--mobile) {
    margin-bottom: 4vw;
  }

  &.dark {
    color: var(--white);
  }
}

.clientText {
  color: inherit;
}

.clients {
  @media (--tablet) {
    width: 100%;
  }
}

.experience {
  font-size: 2.5vw;

  @media (--tablet) {
    font-size: 3.2vw;
  }

  @media (--mobile) {
    font-size: 4vw;
  }
}

.clientBtn {
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s;
  border: 0;
  padding: 0;
  color: inherit;
  border-bottom: 1px dashed var(--grey);
  text-decoration: none;

  &.wasFocused.wasFocused.wasFocused {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
    animation: none;
  }

  &.focused {
    border-bottom: 1px solid;
    &.styleXing {
      border-color: #00d296;
    }
    &.styleOTTO {
      border-color: #db1f26;
    }
    &.styleZalando {
      border-color: #be4b09;
    }
    &.styleVolkswagen {
      border-color: #3978bd;
    }
    &.styleSinnerSchrader {
      border-color: #6804c1;
    }
  }
}

@keyframes blur {
  from {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    filter: blur(5px);
    opacity: 0.25;
    transform: translateX(5px);
  }
}

@keyframes hide {
  from {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    filter: blur(20px) !important;
    opacity: 0 !important;
  }
}

@keyframes unblur {
  from {
    filter: blur(5px);
    opacity: 0.25;
    transform: translateX(5px);
  }
  50% {
    filter: blur(5px);
    opacity: 0.25;
    transform: translateX(5px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes revealName {
  from {
    filter: blur(1px);
    opacity: 0;
    transform: translateX(10px);
  }
  50% {
    filter: blur(0);
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}
