@import '../styles/colors.css';

.row {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s;
  transition: opacity 1s;
  height: 100%;
  align-items: center;
  opacity: 1;

  &.blur {
    & .hi,
    & .clientText,
    & .clientBtn:not(.focused),
    & .experience,
    & .name {
      animation: blur 0.5s ease-in forwards;
    }
  }

  &.unblur {
    & .hi,
    & .clientText,
    & .clientBtn:not(.focused),
    & .experience,
    & .name {
      transform: translateX(10px);
      opacity: 0;
      filter: blur(3px);
      animation: unblur 0.5s ease-in forwards;
    }
  }
}

.main {
  text-align: left;
  font-family: inherit;
  transition: all 0.5s;
  font-weight: normal;
  will-change: transform;
  color: var(--grey);
  font-size: 1.8vw;

  &.dark {
    color: var(--grey-light);
  }
}

.intro {
  font-family: inherit;
  width: 60%;
  line-height: 1.2;
  color: inherit;
  font-size: inherit;
}

.hi {
  font-weight: normal;
  font-size: inherit;
  color: inherit;
  display: block;
  margin-bottom: 2vw;
  animation: revealName 1.5s ease-in;
}

.name {
  color: var(--black);
  font-weight: normal;
  display: block;
  font-size: 3.6vw;

  animation: revealName 2.5s ease-in;

  &.dark {
    color: var(--white);
  }
}

.clients,
.experience {
  width: 60%;
  text-align: left;
  color: var(--grey-dark);
  font-weight: normal;
  font-family: inherit;
  line-height: 1.3;
  font-size: inherit;
  animation: revealName 3s ease-in;

  &.dark {
    color: var(--grey-light);
  }
}

.clientBtn {
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s;
  border: 0;
  padding: 0;
  color: inherit;
  border-bottom: 1px dashed var(--grey);
  text-decoration: none;

  &.wasFocused.wasFocused.wasFocused {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
    animation: none;
  }

  &.focused {
    border-bottom: 1px solid;
    &.styleXing {
      border-color: #00d296;
    }
    &.styleOTTO {
      border-color: #db1f26;
    }
    &.styleZalando {
      border-color: #be4b09;
    }
    &.styleVolkswagen {
      border-color: #3978bd;
    }
  }
}

@keyframes blur {
  from {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    filter: blur(5px);
    opacity: 0;
    transform: translateX(5px);
  }
}

@keyframes unblur {
  from {
    filter: blur(5px);
    opacity: 0;
    transform: translateX(5px);
  }
  50% {
    filter: blur(5px);
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes revealName {
  from {
    filter: blur(1px);
    opacity: 0;
    transform: translateX(10px);
  }
  50% {
    filter: blur(0);
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}
