.sidebar {
  width: 6vw;
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: side-l;
  z-index: 1;
  color: var(--orange);
  padding: 1.5vw 0;
  background: none;

  &.dark {
    color: var(--petrol);
  }
}

.btn {
  width: 1.4vw;
  animation: reveal 4s ease-in;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;

  &:active {
    outline: none;
  }
}

.icon {
  display: block;
  margin-bottom: 0;
}

.link {
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  width: 1.8vw;
  margin-top: 1vw;
}

.nav {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

@keyframes reveal {
  from {
    filter: blur(1px);
    opacity: 0;
    transform: translateX(10px);
  }
  80% {
    filter: blur(1px);
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}
