@import '../../../styles/variables.css';

.sidebar {
  width: 6vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 1vw 0;
  grid-area: side-r;

  @media (--tablet) {
    width: 10vw;
    padding: 2vw 0;
  }

  @media (--mobile) {
    width: 12vw;
    padding: 4vw 0;
    position: fixed;
    height: 100%;
    right: 0;
  }

  &.covered {
    z-index: 0;
  }
}

.list {
  margin: 0;
}

.link {
  color: currentColor;
}

.listItem {
  list-style: none;
  opacity: 0;
  transform: translateY(-3px);
  filter: blur(1px);
  animation: reveal 0.5s ease-in forwards;
  position: relative;
  color: currentColor;

  &:not(:nth-child(6)) {
    margin-bottom: 1.2vw;

    @media (--tablet) {
      margin-bottom: 4vw;
    }

    @media (--mobile) {
      margin-bottom: 6vw;
    }

    &:after {
      position: absolute;
      content: '∣';
      font-family: monospace;
      font-size: 0.6vw;
      bottom: -1vw;
      bottom: -60%;
      left: 35%;

      @media (--tablet) {
        font-size: 1.4vw;
        bottom: -90%;
        left: 35%;
      }

      @media (--mobile) {
        font-size: 2.5vw;
        bottom: -73%;
      }
    }
  }

  &:nth-child(6) {
    animation-delay: 2.8s;
  }

  &:nth-child(5) {
    animation-delay: 2.9s;
  }

  &:nth-child(4) {
    animation-delay: 3s;
  }

  &:nth-child(3) {
    animation-delay: 3.1s;
  }

  &:nth-child(2) {
    animation-delay: 3.2s;
  }

  &:nth-child(1) {
    animation-delay: 3.3s;
  }
}

.logo {
  width: 1.3vw;
  transition: all 0.5s;

  @media (--tablet) {
    width: 2.5vw;
  }

  @media (--mobile) {
    width: 4.6vw;
  }

  &.light {
    color: var(--grey);
    fill: var(--grey);
  }
  &.dark {
    fill: white;
  }
}

@keyframes reveal {
  to {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }
}
